body{
    background-color: #333;
    color: lightgray;
}
.code {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
    font-size: 10pt;
  }